.holder-cv{
  max-width: 900px;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.holder-cv div{
  margin: 10px 0;
}
.holder-cv div ul{
  display: block;
  padding-left: 10px;
  width: 100%;
  max-width: 100%;
}
.holder-cv div li{
  line-height: 140%;
  display: block;
  margin-top: 5px;
}
.holder-cv div li::before{
  content:'>';
  margin: 0 10px 0 -16px;
  font-weight: bold;
  color: #555974;
  font-size: 1.5em;
}
.holder-cv h2{
  font-style: italic;
  margin: 0 0 10px;
}
.holder-cv h3{
  font-style: italic;
  font-size: 1.5em;
  margin: 0 0 10px;
}
.holder-cv h4{
  font-style: italic;
  font-size: 1.2em;
  margin: 10px 0;
}
@media (max-width:768px){
  .holder-cv{
    padding: 0 20px;
  }
}