.aboutme,
.knowledge,
.referral,
.contact{
    margin: 2vh 0;
}
.aboutme h1{
    font-size: 2em;
    font-weight: 900;
    margin: 10px 0;
}
.aboutme p{
    font-size: 1em;
    line-height: 130%;
    margin: 10px 0;
    text-align: justify;
}
.knowledge span{
    display: inline-block;
}
.knowledge .svgText{
    font-size: 3em;
}
.knowledge p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}
.socialMedia{
    display: flex;
    flex-direction: row-reverse;
}

.boxReferral{
    max-width: 90%;
    display: block;
    margin: 2vh auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #ccc;
}

.imgReferral{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
}
.referral h2{
    font-size: 1.3em;
    margin: 10px;
}
.referral img{
    max-width: 100px;
    border-radius: 100px;
    border:solid 3px #000;
}
.depoiment{
    margin: 20px 0;
    text-align: justify;
}
.contact div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact img,
.contact span{
    margin: 2vh 10px;
}
.contact img{
    max-width: 100px;
    border-radius: 100px;
    border:solid 3px #000;
}