.referral{
    margin: 2vh 0;
}

.boxReferral{
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 1vh 1vw;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #ccc;
}

.imgReferral{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
}
.referral h2{
    font-size: 1.3em;
    margin: 10px;
}
.referral img{
    max-width: 100px;
    border-radius: 100px;
    border:solid 3px #000;
}
.depoiment{
    margin: 20px 0;
    text-align: justify;
}