.holder-referral{
    background-color: rgb(224, 224, 224);
}
.referral{
    margin: 2vh auto;
    max-width: 900px;
    padding: 0 20px;
}
.holder-depoimento{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 300px;
    height: 100%;
}
.slick-slide{
    padding: 0 5px;
}
.boxReferral{
    vertical-align: top;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.imgReferral{
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
}
.referral h2{
    font-size: 1.3em;
    margin: 10px;
}
.referral img{
    max-width: 100px;
    border-radius: 100px;
    border: solid 3px #000;
    object-fit: cover;
    max-height: 110px;
    width: 100px;
    height: 100px;
}
.depoiment{
    margin: 20px 0;
    text-align: justify;
}
@media(max-width:980px){
    .referral .slick-next{
        right: -18px;
    }
    .referral .slick-prev {
        left: -18px;
    }
}